parameters:
  fileExtensions:
      - php
  paths:
    - ./
  excludePaths:
    - sut
    - vendor
    - src/Drush/Commands/HelperDrushCommands.php
    - src/Drush/Commands/OpenShiftDrushCommands.php
  level: 6
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
