<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="bootstrap.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="unit">
      <directory>./src/Unit</directory>
    </testsuite>
    <testsuite name="kernel">
      <directory>./src/Kernel</directory>
    </testsuite>
    <testsuite name="functional">
      <directory>./src/Functional</directory>
    </testsuite>
  </testsuites>
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>../</directory>
    </include>
    <exclude>
      <file>../src/Drush/Commands/HelperDrushCommands.php</file>
      <directory>../tests</directory>
    </exclude>
  </source>
  <coverage>
    <report>
      <clover outputFile="coverage.xml"/>
    </report>
  </coverage>
</phpunit>
